*::before,
*::after * {
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    background-color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: #434455;
}
.flex {
    display: flex;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}

.header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 2px 1px rgba(46, 47, 66, 0.08),
        0 1px 1px rgba(46, 47, 66, 0.16), 0 1px 6px rgba(46, 47, 66, 0.08);
}
.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
section {
    padding-top: 120px;
    padding-bottom: 120px;
}
.container {
    width: 1158px;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    color: #4d5ae5;
    margin-right: 76px;
    display: inline-block;
}
.logo-dark {
    color: #2e2f42;
}
.navigation {
    display: flex;
    align-items: center;
    margin-right: auto;
}
.navigation-list {
    gap: 40px;
    padding-top: 24px;
    padding-bottom: 24px;
    display: flex;
}
.link {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0;
    text-decoration: none;
    color: #2e2f42;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.color {
    color: #404bbf;
}
.current {
    position: relative;
    color: #404bbf;
}
.link-model-zero::after {
    content: "";
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
}
.link:hover,
:active,
:focus {
    color: #404bbf;
}

.address .a-link {
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.02em;
    text-decoration: none;
    font-style: normal;
    color: #434455;
}
.address-list {
    gap: 40px;
    display: flex;
    align-items: center;
}
.a-link {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.a-link:hover,
:active,
:focus {
    color: #404bbf;
}

.hero {
    background-image: linear-gradient(
            rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero.jpg);
    max-width: 1440px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    padding: 188px 0;
    margin: 0 auto;
}
.hero > .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 48px;
}
.hero-text {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: #ffffff;
    max-width: 496px;
}
.main-button {
    background-color: #4d5ae5;
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    min-width: 169px;
    height: 56px;
    padding: 16px 32px;
    cursor: pointer;
    border-radius: 4px;
    border: none;
    display: block;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.main-button:hover,
.main-button:active,
.main-button:focus {
    background-color: #404bbf;
}

.features {
    padding: 120px 0;
    justify-content: space-between;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.feature-list {
    display: flex;
    gap: 24px;
}
.advantage-list-item {
    width: calc((100% - 72px) / 4);
}
.feature-icon-list {
    width: 264px;
    height: 112px;
    margin-bottom: 8px;
    border-radius: 4px;
    flex-shrink: 0;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    align-items: center;
    justify-content: center;
    display: flex;
    background: #f4f4fd;
}
.feature-icon {
    flex-shrink: 0;
    display: flex;
    justify-content: center;
}
.advantage-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}
.advantage-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.our-team {
    background-color: #f4f4fd;
    gap: 24px;
    padding: 120px 0;
}
.main-header-title {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 72px;
    text-transform: capitalize;
    text-align: center;
}
.team-list {
    display: flex;
    gap: 24px;
}
.card-member {
    background-color: #ffffff;
    text-align: center;
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.member-details {
    padding: 32px 0;
}
.member-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
    text-align: center;
}
.card-member-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-align: center;
}
.team-icon-section {
    padding: 32px 0;
}
.member-card-social-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
}
.member-icon-list {
    width: 40px;
    height: 40px;
    gap: 24px;
}
.social-icon-link {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: #4d5ae5;
    border-radius: 50%;
}
.social-icon {
    fill: #f4f4fd;
}
.social-icon-link:hover,
.social-icon-link:focus {
    background-color: #404bbf;
}
.social-icon:hover,
.social-icon:focus {
    color: #f4f4fd;
}

.our-portfolio {
    padding-top: 120px;
    padding-bottom: 120px;
}
.portfolio-list {
    row-gap: 48px;
    column-gap: 24px;
    flex-wrap: wrap;
    display: flex;
}
.portfolio-card {
    width: calc((100% - 48px) / 3);
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
        0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.portfolio-card:hover .add-text {
    transform: translateY(0%);
}
.card-shadow {
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-image {
    position: relative;
    overflow: hidden;
}
.project-card-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    align-items: flex-start;
}
.add-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    background-color: #4d5ae5;
    height: 100%;
    width: 100%;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transform: translateY(100%);
    padding: 40px 32px;
    position: absolute;
    top: 0;
}
.gallery-item-names {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}
.project-card-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.footer {
    background-color: #2e2f42;
    padding: 100px 0;
}
.footer-container {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
}
.footer-margin {
    margin-right: 120px;
}
.logo-footer {
    display: inline-block;
    margin-bottom: 16px;
}
.footer-bright-text {
    color: #f4f4fd;
    letter-spacing: 0.02em;
    font-size: 16px;
    font-weight: 500px;
    line-height: 1.5;
    text-align: left;
    display: block;
    flex-wrap: wrap;
    width: 264px;
    margin-bottom: 16px;
}
.footer-media {
    gap: 16px;
    justify-content: space-evenly;
}
.logo-white {
    color: #f4f4fd;
    width: 264px;
}

.footer-media-text {
    font-weight: 500;
    color: #ffffff;
    font-size: 16px;
    line-height: 1.5;
    font-style: normal;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
}

.footer-ikon-area {
    display: flex;
    gap: 16px;
    justify-content: space-evenly;
}
.footer-social-ikon {
    width: 40px;
    height: 40px;
}
.footer-media-link {
    width: 100%;
    height: 100%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer-media-link:hover,
.footer-media-link:focus {
    background-color: #404bbf;
}
.footer-media-link:hover,
.footer-media-link:focus {
    background-color: #31d0aa;
}
.footer-icon-look {
    fill: #f4f4fd;
}
.current {
    position: relative;
    color: #404bbf;
}
.current::after {
    content: "";
    background-color: #404bbf;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    position: absolute;
    left: 0;
    bottom: -1px;
}